#!/usr/bin/env sh

# Brewfile hash: {{ include "private_dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
if command -v brew > /dev/null; then
  HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_CASK_OPTS="--no-quarantine" brew bundle --file="$HOME/.config/homebrew/Brewfile" || echo "Warning: some Brewfile dependencies failed to install"
  brew cleanup || true
fi
